@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
    @apply transition-colors duration-200;
}

:root {
    --light: 241, 237, 248, 1;
    --dark: 11, 7, 18, 1;
    --royal: 44, 44, 84, 1;
    --runescape: 255, 255, 0, 1;
}

.light {
    --background: 241, 237, 248, 1;
    --secondary: 212, 200, 234, 1;
    --textcolour: 0, 0, 0, 1;
}

.dark {
    --background: 11, 7, 18, 1;
    --secondary: 33, 21, 55, 1;
    --textcolour: 255, 255, 255, 1;
}

.royal {
    --background: 44, 44, 84, 1;
    --secondary: 62, 62, 117, 1;
    --textcolour: 236, 236, 236, 1;
}

.runescape {
    --background: 0, 0, 0, 1;
    --secondary: 26, 26, 26, 1;
    --textcolour: 255, 255, 0, 1;
}